*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}

.boxForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: aqua;

    form{
        min-width: 20%;
        background-color: red;
    }
}